<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codegy.aerlink" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <!--
    <uses-permission
        android:name="android.permission.SET_TIME"
        android:protectionLevel="signature|system" />
    -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <service
            android:name=".MainService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="com.codegy.aerlink.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notifications.PhoneActivity"
            android:label="@string/title_activity_phone"
            android:launchMode="singleTask"
            android:taskAffinity="com.codegy.aerlink.notifications.PhoneActivity" >
        </activity>
        <activity
            android:name=".reminders.RemindersActivity"
            android:icon="@mipmap/ic_launcher_reminders"
            android:label="@string/title_activity_reminders"
            android:launchMode="singleTask"
            android:taskAffinity="com.codegy.aerlink.reminders.RemindersActivity" >
        </activity>
        <activity
            android:name=".cameraremote.CameraRemoteActivity"
            android:icon="@mipmap/ic_launcher_camera"
            android:label="@string/title_activity_camera_remote"
            android:launchMode="singleTask"
            android:taskAffinity="com.codegy.aerlink.cameraremote.CameraRemoteActivity" >
        </activity>
        <activity
            android:name=".cameraremote.CameraImageActivity"
            android:label="@string/title_activity_camera_image"
            android:launchMode="singleTop" >
        </activity>

        <activity-alias
            android:name=".reminders.RemindersActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_reminders"
            android:label="@string/title_activity_reminders"
            android:targetActivity=".reminders.RemindersActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".cameraremote.CameraRemoteActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_camera"
            android:label="@string/title_activity_camera_remote"
            android:targetActivity=".cameraremote.CameraRemoteActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
